<div>
    <h1>Librería</h1>
    <form #comicForm="ngForm">
        <label>Nombre</label>
        <input type="text" #cajanombre name="cajanombre"/><br/>
        <label>Imagen</label>
        <input type="text" #cajaimagen name="cajaimagen"/><br/>
        <label>Descripción</label>
        <input type="text" #cajadescripcion name="cajadescripcion"/><br/>
        <button (click)="nuevoComic()">
            Nuevo comic
        </button>
    </form>
    <div style="background-color: yellow;" *ngIf="comicFavorito">
        <img src={{comicFavorito.imagen}}
            style="width: 100px; height: 120px;"/>
    </div>
    <div *ngFor="let comic of comics">
        <app-comic [comic]="comic"
        (seleccionarFavorito)="seleccionarFavorito($event)"></app-comic>
    </div>
</div>